@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  background-color: #fcfdff;
}
input {
  background-color: #cfd5e1;
}

table {
  background-color: #cfd5e1;
}
